# filepath: /home/pi/Documents/rcmrlec/insightViewer/.gitignore
# editor local history / snapshots
.history/
config_*.py

# local secrets
config_private.ini
.env

# python
__pycache__/
*.py[cod]
venv/

# Editors / OS
.vscode/
.idea/
.DS_Store

# Test / caches
.pytest_cache/
.mypy_cache/

# node
node_modules/
