<!-- name: Predloga za zapisnik -->
<!-- description: Predloga za zapisnik  -->
<!doctype html>
<html lang="sl">
<head>
  <meta charset="utf-8" />
  <meta name="templateType" content="CKEDITOR_MEETING">
  <meta name="graphNodeName" content="MeetingSummary">  
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Zapisnik sestanka — Meeting Notes</title>
  <!-- Styles -->
  <link rel="stylesheet" href="/static/defaultTemplate.css">
  <!-- <link rel="stylesheet" href="/static/notesTemplate.css"> -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      document.querySelectorAll("h2").forEach(function(header) {
        header.addEventListener("click", function() {
          let content = header.nextElementSibling;
          if (content && content.classList.contains("content")) {
            content.classList.toggle("open");
          }
        });
      });
    });
  </script>
</head>
<body>
  <header>
    <div>
      <h1>Zapisnik sestanka: Tema sestanka</h1>
    </div>
    <nav>
    </nav>
  </header>
  <main>
    <section>
      <h2>📅 Datum in čas</h2>
      <div class="content">
        <p>Vnesi datum in čas sestanka</p>
      </div>
    </section>
    <hr />
    <section>
      <h2>👥 Udeleženci</h2>
      <div class="content">
        <p>Seznam udeležencev</p>
        <table style="width: 100%; border-collapse: collapse;">
            <thead style="background-color: #4CAF50; color: white;">
                <tr>
                    <th style="padding: 10px; border: 1px solid #ddd;">Udeleženec</th>
                    <th style="padding: 10px; border: 1px solid #ddd;">Oddelek</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 10px; border: 1px solid #ddd;">Janez novak</td>
                    <td style="padding: 10px; border: 1px solid #ddd;">Pozavarovanje</td>
                </tr>        
            </tbody>                
        </table>
      </div>

    </section>
    <hr />
    <section>
      <h2>📝 Dnevni red</h2>
      <div class="content">
        <p>Vnesi dnevni red</p>
        <ul>
            <li>Uvod</li>
            <li>Zaključek</li>
        </ul>
      </div>
    </section>
    <hr />
    <section>
      <h2>🗣️ Zapiski</h2>
      <div class="content">
        <p>Vnesi zapiske sestanka</p>
      </div>
    </section>
    <hr />
    <section>
      <h2>📌 Naloge</h2>
      <div class="content">
        <p>Seznam nalog in odgovornosti</p>
        <table style="width: 100%; border-collapse: collapse;">
          <thead style="background-color: #4CAF50; color: white;">
              <tr>
                  <th style="padding: 10px; border: 1px solid #ddd;">Naloga</th>
                  <th style="padding: 10px; border: 1px solid #ddd;">Odgovorni</th>
                  <th style="padding: 10px; border: 1px solid #ddd;">Datum zadolžitve</th>
                  <th style="padding: 10px; border: 1px solid #ddd;">Rok dokončanja</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <th style="padding: 10px; border: 1px solid #ddd;">Naloga</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Lastnik</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Opis</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Datum zadolžitve</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Rok dokončanja</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Dokončano</th>
              <th style="padding: 10px; border: 1px solid #ddd;">Status</th>
            </tr>
          <tbody>
            <tr>
              <td style="padding: 10px; border: 1px solid #ddd;">Ime naloge</td>
              <td style="padding: 10px; border: 1px solid #ddd;">Lastnik</td>
              <td style="padding: 10px; border: 1px solid #ddd;">Opis</td>
              <td style="padding: 10px; border: 1px solid #ddd;">01.10.2023</td>
              <td style="padding: 10px; border: 1px solid #ddd;">15.10.2023</td>
              <td style="padding: 10px; border: 1px solid #ddd;"></td>
              <td style="padding: 10px; border: 1px solid #ddd;">in progress</td>              
            </tr>
          </tbody>
        </table>
        <div id="ZapisnikNaloge">
          <h3>Opis nalog</h3>        
          <p><b>Priprava poročila</b><p>
Test
          </p>
          <p><b>Sestanek s stranko</b><p>
            Ključne informacije, ki jih je potrebno pridobiti
          </p>
          <p><b>Posodobitev spletne strani</b><p>
            Zadnja naloga
          </p>      
        </div>
    </section>
    <footer>
      <small>Ustvarjeno za interno rabo</small>
    </footer>
  </main>
</body>
</html>
